<div class="container">
  <div class="jumbotron">
    <h1>igotawill.com</h1>
    <p>This is a prototype for a new cloud based will service signed and timestamped with Blockchain</p>
    <p> <%= link_to "Sign Up", sign_up_path, class: "btn btn-primary btn-lg" %> </p>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Secure</h3>
        </div>
        <div class="panel-body">
          Lorem ipsum dolor sit amet, eleifend in ac porta sit turpis velit, eu justo in eu id, varius phasellus sollicitudin
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Legally Binding</h3>
        </div>
        <div class="panel-body">
          Lorem ipsum dolor sit amet, eleifend in ac porta sit turpis velit, eu justo in eu id, varius phasellus sollicitudin
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Easy</h3>
        </div>
        <div class="panel-body">
          Lorem ipsum dolor sit amet, eleifend in ac porta sit turpis velit, eu justo in eu id, varius phasellus sollicitudin
        </div>
      </div>
    </div>
    <div class="col-md-6 col-md-offset-4">
      <%= image_tag("co-logo.png") %>
    </div>
</div>
</div>
